body {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.heading {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 600px){
  .wrapper {
    flex-direction: column;
  }
}

.column {
  flex: 0 1 auto;
  max-width: 50%;
}

.column-container {
  background-color:rgb(227, 215, 215) ;
  min-width: 300px;
  text-align: center;
  border-radius: 5px;
  min-height: 500px;
}

.task-container {
  padding: 20px;
  text-align: left;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
  background-color: #d5f3f1;
  margin-bottom: 20px;
  border-radius: 10px;
  max-width: 500px;
}

.task-container:hover, .task-container:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #222323;
  transform: scale(1);
  color: #fff;
}